@import '../_variables';

$bodyBgColor:#F5F5F5;
$topbarSubmenuHoverBgColor:#f1f2f7;
$topbarMobileMenuBgColor:#ffffff;
$mobileBreakpoint:1024px;
$menuScrollBarBgColor:#aaaaaa;
$topbarMenuBgColor:#ffffff;
$breadcrumbBgColor:#ffffff;
$footerBgColor:#ffffff;